.idea
vendor
composer.lock
composer.phar
.phpunit.result.cache
.phpcs-cache
docker
compose.yaml


#Ignore vscode AI rules
.github/instructions/codacy.instructions.md
.codacy/

.mcp.json
CLAUDE.md
AGENTS.md
Dockerfile
.serena/